.Chat-container{
	display: flex;
	flex-direction: row;
}

.Chat-navigate{
	display: flex;
	flex-direction: column;
	align-self: flex-start;
	border-style: solid;
  	border-width: 3px;
	color: '#646464';
	margin-right: 3px;
	min-height: 200px;
	
	
}

.Chat-history-container{
	display: flex;
	flex-direction: row;
}

.Chat-history{
	display: flex;
	flex-direction: column;
	/* min-width: 245px; */
	min-width: 400px;
	border-style: solid;
  	border-width: 3px;
	color: '#646464';
	margin-right: 3px;
	margin-bottom: 8px;
}

.Chat-TextField{
	display: flex;
	flex-direction: row;
}

.Chat-send-button{
	display: flex;
	align-self: center;
}