.Chat-container{
	display: flex;
	flex-direction: row;
	padding: 1em;
}

.Chat-navigate{
	display: flex;
	flex-direction: column;
	align-self: flex-start;
	margin-right: 3px;
	min-height: 200px;
	width: 100px;
	border-style: solid;
  	border-width: 3px;
	border-color: '#646464';
}

.Chat-history-container{
	display: flex;
	flex-direction: column;
	border-style: solid;
  	border-width: 3px;
	border-color: '#646464';
	overflow: scroll;
	max-height: 500px;
}

.Chat-scrollbar{
	min-width: 245;
	height: 600;
}

.Chat-history{
	display: flex;
	flex-direction: column;
	min-width: 245px;
	/* min-width: 800px; */
	border-style: solid;
  	border-width: 3px;
	border-color: '#646464';
	margin-right: 3px;
	margin-bottom: 8px;
	height: 100%;
}

.Chat-TextField-send-button{
	display: flex;
	flex-direction: row;
	margin-top: 8px;
}

.Chat-TextField{
	border-width: 2px;
	border-color: antiquewhite;
	margin-right: 8px;
}

.Chat-send-button{
	display: flex;
	align-self: center;
}

.Chat-message-from-other-lvl1{
	display: flex;
	flex-direction: row;
	padding-right: 1em;
}

.Chat-message-from-self-lvl1{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding-right: 1em;
}

.Chat-div-empty{
	width: 63px;
}

.Chat-who{
	width: 40px;
	border-radius: 50%;
	height: 40px;
	align-self: flex-end;
}

.Chat-message-from-self-lvl2{
	border-style: solid;
  	border-width: 3px;
	margin: 3px;
	border-radius: 10px 15px 0px 10px;
	border-color: #3b9b3b;
	padding: 5px;
}

.Chat-message-from-other-lvl2{
	border-style: solid;
  	border-width: 3px;
	margin: 3px;
	border-radius: 10px 15px 10px 0px;
	border-color: #007dd6;
	padding: 5px;
}