.Menu {
	position: sticky;
	top: 0px;
	width: 500;
	justify-content: center;
	display: flex;
	background-color: #3d3f44;
	z-index: 2;
}

.Adaptable{
	background-color:#000000;
	color: antiquewhite;
	height: 100%;
	margin: 5px;
}

.Notif{
	background-color: #007dd6;
	color: antiquewhite;
	border-radius: 10px;
	padding: 10px;
}

a:link {
	text-decoration: none;
	color: rgb(0, 125, 214);
}

a:visited {
	text-decoration: none;
	color: rgb(59, 155, 59);
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

.Error{
	color: red;
}