.Menu {
	position: sticky;
	top: 0px;
	width: 500;
	justify-content: center;
	display: flex;
	background-color: #3d3f44;
	z-index: 2;
}

/* .globalDivPong {
	position: 'fixed';
	top:'2000px';
	bottom:0;
	left:0;
	right:0;
} */

/* .divPong {
	aspect-ratio: 16 / 9;
	max-height:'100%';
	max-width:'100%';
	margin-left:'auto';
	margin-right:'auto';
} */

#responsive-canvas {
	width: 100%;
	height: 100%;
}

/* @media (max-width: 200px) { /* TODO use this to change the behaviour of the div when under a certain value (here, 800px)
	.globalDivPong {
		position: 'fixed';
		top:'400px';
		bottom:0;
		left:0;
		right:0;
	}
	.divPong { /* TODO change this div too ?
		aspect-ratio: 16 / 9;
		max-height:'100%';
		max-width:'100%';
		margin-left:'auto';
		margin-right:'auto';
	}
} */

.Adaptable{
	/* background-color:#000000; del, commented this line so the canvas doesn't mix with the black background */
	color: antiquewhite;
	height: 100%;
	margin: 5px;
}

a:link {
	text-decoration: none;
	color: rgb(0, 125, 214);
}

a:visited {
	text-decoration: none;
	color: rgb(59, 155, 59);
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

.Error{
	color: red;
}