.Friend-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.Friend-container-div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10px;
}

.Friend-Name-status{
	display: flex;
	flex-direction: row;
}

.Friend-name{
	align-items: center;
}

.Friend-avatar{
	max-width: 100px;
	height: auto;
}