#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.menu_button {
  height: 3em;
  padding: 1.5em;
  will-change: filter;
}
.menu_button:hover { /*permet un ombrage quand pointé a reutiliser pour le menu :3*/
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover { 
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {/*idem*/
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {/*permet de faire tourner*/
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;/*ici la rotation est en boucle*/
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
